::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #02727D;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/*MENU-----------------------------------------------------------*/

#falso {
	position:relative;
	width:100%;
	height:70px;
	z-index:2;
	left: 0px;
	top:0px;
	background-color:transparent;
}
#Menu {
	position:fixed;
	width:100%;
	height:52px;
	z-index:1000;
	left:0px;
	top:0px;
	text-align: center;
	background-color: #02727D;
}
.menu{
	font-family: Verdana, Geneva, sans-serif;
	color: #333;
	color: #FFF;
	background-color:#02727D;
	text-align: center;
	font-size: 13px;

	/*border-collapse: collapse;*/
}

.menu img{
	padding-left: 10px; 
}
.menu a{
	display: inline-block;
	/*margin-right:100px;*/
	padding: 10px 10px 10px;
	height: 100%;
	width: 100%;
}

.menu a:link {
	color: #EEE;
	text-decoration: none;
}

.menu a:visited {
	color: #EEE;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: none;
	color: #9CC;
}

.menu a:active {
	text-decoration: none;
}

/*SLIDER-----------------------------------------------------------*/
#Slider {
	position:relative;
	width:100%;
	height:380px;
	z-index:100;
	text-align: center;
	background-color: #FFF;
}
#Slider table{
	background: #02727D;
	border-collapse: collapse;
}

#Slider a{
	display: inline-block;
	padding: 10px;
	width:100%;
	color: #fff;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}


#Slider a:hover{
	/*background: #000;*/
	color:#9CC;
}
/*CATALOGO DE SERVICIOS----------------------------------------*/
.Catalogo
{
	font-family:Verdana, Geneva, sans-serif;
	color:#003;
	font-size:12px;
	overflow:auto;
	background:#e3e7e8;
	
	
}
.texTitulos
{
	font-family: Verdana, Geneva, sans-serif;
	color: #02727D;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
.texTitulos2
{
	font-family: Verdana, Geneva, sans-serif;
	color: #02727D;
	font-size: 17px;
	font-weight: bold;
	text-align: center;	
	
}
/*QUIENES SOMOS---------------------------------------------*/
.tituloQ
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:25px;
}
.textoQ
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:15px;
}
/*AYUDA Y SOPORTE-------------------------------------------------*/
.tituloA
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:25px;
}
.textoA
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:15px;
}
.tituloS
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:35px;
}
.textoS
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor: #02727D;
	font-size: 15px;
	text-align: right;
}
/*INICIO DE SESION---------------------------------------------------*/
.bodyInicioSesion{
	margin: 0;
	padding: 0;
}

.divimgInicioSesion{
	width: 100%;
	margin-top: 60px;

}

.imgInicioSesion{
	display: block;
	margin: auto;
}

.divformInicioSesion{
	width: 100%;
	
}

.divformInicioSesion form{
	width: 40%;
	/*border:1px solid #ccc;*/
	margin: auto;
	padding: 20px;

}

.contraseña, .usuario, p{
	font-size: 20px;
	font-family: Arial;
	width: 100%;
	padding: 0px 20px 0px 0px;
	font-weight: 5px;
}


.divformInicioSesion input{
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid #ff8000;
}

.divformInicioSesion input[type="submit"]{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
	background: #ffc578; /* Old browsers */
	background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
	copy;
	color: #fff;
	font-size: 15px;

}
.divformInicioSesion input[type="submit"]:hover{
	background: #FA882B;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 1px #D56A14;	
}

.divformInicioSesion input:focus{
	border:1px solid #ff8000;
}

.divformInicioSesion p{
	text-align: center;
}
.divformInicioSesion p a{
	text-decoration: none;
	color:#000;
}		

.divformInicioSesion p a:hover{
	color:#9CC;
}

.divformInicioSesion p a:visited{
	color:#000;
}
.divformInicioSesion p a:visited:hover{
	color:#9CC;
}
/*BANNER-----------------------------------------------------------*/
.fuenteBanner
{
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 16px;
	/*font-weight: bold;*/
}
#Banner {
	position:relative;
	width:100%;
	height:150px;
	z-index:2;
	left: 0px;
	text-align: center;
	background-color:#FFF;
	border-collapse: collapse;
}
/*REGISTRO DE EGRESADO------------------------------------------*/
.fuenteRegistro
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:35px;
}
.fuenteRegistro2
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor: #02727D;
	font-size: 15px;
	text-align: right;
}
.fuenteRegistro3
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0a3338;
	bgcolor:#02727D;
	font-size:14px;
	text-align:left;
}
/*REGISTRO DE CLIENTE-------------------------------------------*/
/*CUERPO-----------------------------------------------------------*/
#Body {
	position: relative;
	width: 100%;
	height: 780px;
	z-index: 2;

}

.tablaBody{
	width: 900px;
	font-family: arial;
	text-align: justify;
}

.tablaBody p{
	color:#000;
}

.tablaBody img{
	width: 100px;
}
/*PIE DE PAGINA-------------------------------------------*/
#Footer {
	position:relative;
	width:100%;
	height:170px;
	z-index:2;
	float: left;
	left: 0;
	top:0;
	background-color: #02727D;

}
.subFooter{
	width: 960px;
	margin: auto;
	/*background-color: #2c41b6;*/
}
.subFooter img{
	float: left;
	width: 150px;
	margin:0px 10px 0px 0px;
}
.subFooter h2, .subFooter p{
	margin: 0;
	margin-top: 8px;
	margin-right:10px;

}

.subFooter h2{
	padding: 10px 0px 0px 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	text-align: left;
	color:#FFF;
}
.subFooter p{
	padding: 5px 0px 0px 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	text-align: justify;
	color:#FFF;
}


